<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <%- include("partials/head")%>
  </head>
  <body>

    <%- include("partials/navigation") %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt id voluptate perspiciatis ipsa, accusantium fugiat ullam laborum cum laudantium officiis explicabo minima enim iste voluptates nam ipsam tenetur architecto eius nihil fugit perferendis magnam! Eligendi nobis assumenda corporis sequi id possimus tenetur, a eum labore aliquid totam numquam quas blanditiis quaerat. Tenetur quibusdam corporis aliquam laboriosam sint iure eius minus animi, pariatur doloremque soluta nam sapiente repellat libero corrupti consectetur dolores placeat suscipit dolore. Praesentium reiciendis quidem error exercitationem, quis illo autem placeat ut voluptatum eum natus odio molestias cumque. Iste nobis a recusandae consequuntur eaque perferendis porro tempora neque accusantium labore voluptatibus, libero ullam cumque magni illum ipsa qui voluptatem at dicta? Saepe impedit itaque recusandae adipisci. Labore reprehenderit inventore expedita velit vitae eius ullam! Consequatur maxime voluptate eveniet natus culpa facere exercitationem fuga modi officiis earum obcaecati odio cum placeat, nisi reprehenderit quae! Enim, autem obcaecati quia ab, tenetur porro veniam voluptatibus vitae debitis dolor nesciunt, ad facilis iure! Iusto nisi odit nemo error voluptatem, dolorem debitis officiis accusantium quo omnis repudiandae laudantium pariatur magni. Ab ut cupiditate fugiat, architecto provident dolor ipsa ratione, natus nisi dignissimos perferendis rem ad doloribus quam expedita nam. Saepe facilis porro dicta natus voluptatum ratione accusantium architecto temporibus earum iure rem libero totam dignissimos error ullam atque cupiditate quasi quas, corrupti nam optio fugiat nulla expedita eos! Culpa deleniti laudantium amet et.</p>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
